@charset "UTF-8";
caption {
	font-size: 20px; line-height: 160%; font-weight: bold;
}
body {
	background-color: #c8f2dd;
}
table {
	background-color: #f10e85; width: 100%; border: 1px solid #3106f9;
}
th {
	background-color: #80ff00; color: black;
}
th,td { padding: 10px; border: 1px solid #ffff00;
}
tr:hover { background-color: green; color: white;
}
#err { color: red; font-weight: bold; }